/* meals.css */
.meals .mealsContainer{
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.mealsContainer {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealForm {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mealForm input, .mealForm textarea, .mealForm select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
}

.createMealBtn {
    background-color: #2ecc71;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.createMealBtn:hover {
    background-color: #27ae60;
}

.mealsList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.mealItem {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mealItem h2 {
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.mealItem p, .mealItem a {
    margin: 4px 0;
}

.deleteBtn {
    margin-top: 10px;
    background-color: #e74c3c;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #c0392b;
}
